<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
    <%= form_tag("/admin/#{@coupon.id}/update") do %>
      <div class="form">
        <div class="form-body">
          <p>一覧クーポンタイトル</p> 
          <textarea name="listCouponTitle"><%=@coupon.listCouponTitle %></textarea>
          <p>詳細クーポンタイトル</p> 
          <textarea name="couponTitle"><%=@coupon.couponTitle %></textarea>
          <p>店名</p> 
          <textarea name="storeName"><%=@coupon.storeName %></textarea>
          <p>利用時間</p> 
          <textarea name="utilityTime"><%=@coupon.utilityTime %></textarea>
          <p>フラグ</p> 
          <textarea name="flag"><%=@coupon.flag %></textarea>
          <p>利用日</p> 
          <textarea name="utilityDay"><%=@coupon.utilityDay %></textarea>
          <p>店詳細URL</p>
          <textarea name="storeDetailUrl"><%=@coupon.storeDetailUrl %></textarea>
          <p>店位置情報URL</p>
          <textarea name="storeLocationUrl"><%=@coupon.storeLocationUrl %></textarea>
          <p>利用条件</p> 
          <textarea name="condition"><%=@coupon.condition %></textarea>
          <input type="submit" value="保存"> 
        </div>
      </div>
      <% end %>
  </div>
</div>